<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <form id="film-search" action="<%= url_for(:controller => 'search', :action => 'show') %>" class="form-inline ml-auto">
          <div class="form-group">
            <input class="form-control mr-sm-2" type="search" name="movie" type="text" placeholder="Search">
          </div>
          <input name="page" type="hidden" value="1">
          <!-- <button id="submit" class="btn btn-danger btn-raised btn-fab btn-round" type="submit"><i class="material-icons">search</i></button> -->
        </form>
      </div>
    </div>
  </div>
</div>
