<div class="search-results-container card-columns">
  <% @popular.each do |m| %>
    <div class='card'>
      <img class='card-img-top img-fluid' src='https://image.tmdb.org/t/p/w500/<%= m.backdrop_path %>' />
      <div class='card-body'>
        <h5 class='card-title'><%= m.title %></h5>
        <h6 class='card-subtitle mb-2 text-muted'><%= m.release_date.slice(0..3) %></h6>
        <p class='card-text'><%= m.overview %></p>
      </div>
    </div>
  <% end %>
</div>
