@font-face {
  font-family: 'YTSans';
  font-style: normal;
  font-weight: 300;
  src: url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Light-v1-1.woff2) format('woff2'),
  url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Light-v1-1.woff) format('woff');
}
@font-face {
  font-family: 'YTSans';
  font-style: normal;
  font-weight: 500;
  src: url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Medium-v1-1.woff2) format('woff2'),
  url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Medium-v1-1.woff) format('woff');
}
@font-face {
  font-family: 'YTSans';
  font-style: normal;
  font-weight: 700;
  src: url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Bold-v1-1.woff2) format('woff2'),
  url(//www.gstatic.com/youtube/media/upg/fonts/v1/YTSans-Bold-v1-1.woff) format('woff');
}
