@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$primary: (
  color: #f44336,
  dark:  darken(#f44336, 10%),
  light: lighten(#f44336, 10%)
);
@import "material";
@import "npms";
@import "basic";
