@import 'partials/fonts';
/*==============================================================
  Transitions
===============================================================*/
@mixin transition($type, $time) {
  transition: $type $time;
  -webkit-transition: $type $time;
  -moz-transition: $type $time;
  -ms-transition: $type $time;
  -o-transition: $type $time;
}
.transition { @include transition(all, .3s); }
/*==============================================================
  Globals
===============================================================*/
body {
  background-color: #ffffff;
}
h1, h2, h3, h4, h5 {
  color: #000;
  @extend .ytsans;
  &.title {
    @extend .ytsans;
  }
}


/*==============================================================
  overrides
===============================================================*/
.form-control {
  background-image: linear-gradient(to top, #f2453d 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
  &:focus {
    box-shadow: none !important;
  }
}
.page-link {
  &:focus {
    box-shadow: none !important;
  }
}

.pagination {
  margin-top: 70px;
}
.pagination > .page-item.active > a {
  background-color: #f2453d;
  border-color: #f2453d;
  box-shadow: 0 4px 5px 0 rgba(242,69,61, 0.14), 0 1px 10px 0 rgba(242,69,61, 0.12), 0 2px 4px -1px rgba(242,69,61, 0.2);
  &:hover {
    background-color: #f2453d !important;
  }
}
/*==============================================================
  Navigation
===============================================================*/
.navbar-transparent {
  color: #000 !important;
  .navbar-brand {
    span {
      color: #f44336;
    }
  }
}
nav {
  background-color: #fff;
  color: #000 !important;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
  .navbar-brand {
    height: 53px !important;
    span {
      @extend .ytsans;
      font-size: 1.8rem;
      color: #f44336;
    }
  }
  .navbar-collapse {
    &:after {
      background-color: #f44336;
    }
    @media (max-width: 991px) {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #fff;
          }
        }
      }
    }
  }
}

/*==============================================================
  Search
===============================================================*/
#film-search {
  .form-group {
    width: 100% !important;
    margin-top: 0px;
    padding-top: 0px;
    .form-control {
      width: 100% !important;
      font-size: 34px;
      height: 76px;
      color: #000;
      @extend .ytsans;
      &::-webkit-input-placeholder {
        font-size: 34px;
        @extend .ytsans;
        color: #e1e1e1;
      }
    }
  }
}

/*==============================================================
  Sections
===============================================================*/
.section {
  margin-top: 25px;
}

/*==============================================================
Cards
===============================================================*/
.home-page-card-columns {
  @include media-breakpoint-only(md) {
    column-count: 1 !important;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2 !important;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3 !important;
  }
}
.card-columns {
  column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  .card {
    // overflow: hidden;
    // margin-top: 35px;
    margin-top: 10px;
    // margin-bottom: 36px;
    // margin-bottom: 15px;
    // width: 100%;
    // width: 90%;
    border-radius: 0px !important;
    // border-radius: 15px;
    // -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    // box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    // box-shadow: none !important;
    // -webkit-box-shadow: none !important;
    // @extend .transition;
    // &:hover {
    //   position: absolute;
    //   -webkit-transform: translateY(-5px);
    //   transform: translateY(-5px);
    //   box-shadow: 0 10px 18px 0 rgba(0,0,0, .075)
    // }
    .card-header {
      border-radius: 0px !important;
      a {
        display: block;
      }
      .card-title {
        @extend .ytsans;
        font-size: 24px;
      }
    }
    .card-header-image {
      border-radius: 0px !important;
      img {
        border-radius: 0px !important;
        box-shadow: none !important;
      }
      .colored-shadow {
        display: none;
      }
    }
    .card-body {
      .card-title {
        @extend .ytsans;
        font-size: 24px;
      }
    }
  }
}
