@import 'partials/fonts';
/*==============================================================
  Transitions
===============================================================*/
@mixin transition($type, $time) {
  transition: $type $time;
  -webkit-transition: $type $time;
  -moz-transition: $type $time;
  -ms-transition: $type $time;
  -o-transition: $type $time;
}
.transition { @include transition(all, .3s); }
/*==============================================================
  Globals
===============================================================*/
body {
  background-color: #f4f4f4;
}
/*==============================================================
  Navigation
===============================================================*/
nav {
  background-color: #fff;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
  .navbar-brand {
    span {
      font-family: 'YTSans', serif;
      font-variant-ligatures: none;
      font-weight: 700;
      letter-spacing: -0.5px;
      margin-left: 5px;
      font-size: 1.5rem;
    }
  }
}
// Results container
.search-results-container {
  margin: 2px 10px 10px 10px;
}

/*==============================================================
Cards
===============================================================*/
.card-columns {
  column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  .card {
    overflow: hidden;
    // margin-top: 35px;
    margin-top: 10px;
    // margin-bottom: 36px;
    margin-bottom: 0px;
    width: 100%;
    // width: 90%;
    border-radius: 0px;
    // border-radius: 15px;
    // -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    // box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    // @extend .transition;
    // &:hover {
    //   position: absolute;
    //   -webkit-transform: translateY(-5px);
    //   transform: translateY(-5px);
    //   box-shadow: 0 10px 18px 0 rgba(0,0,0, .075)
    // }
    .card-body {
      .card-title {
        font-family: 'YTSans', serif;
        font-size: 34px;
        font-variant-ligatures: none;
        font-weight: 700;
        letter-spacing: -0.5px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }
      .card-text {
        small {
          font-size: 85%;
        }
      }
    }
    .card-actions {
      .btn {
        overflow: inherit;
        width: 100%;
      }
    }
  }
}
